.container{
    width:300px;
    border:2px black solid;
    padding:30px;
    display:grid;
    grid-template-rows:70px 50px 50px 50px 50px 50px;
    grid-template-columns:70px 70px 70px 70px;
    margin-left: 35%;
    margin-top: 60px;
    grid-gap:7px;
    

}
.item1{
 grid-area:1/1/2/5;
 font-size:70px;
 
}
.item2{
    grid-area:2/1/3/4;
}
.itemf{
    grid-row:5/7;
    grid-column:4/5; 
}
.a{
    width:100%;
    height:100%;
    vertical-align:bottom;
    text-align:right;

}
.b{
    width:100%;
    height:90%;
}
.c{
    height:90%;
    width:100%;
}
button{
    border:2px silver solid;
    color:black;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
.d{
    height:100%;
    width:100%;
}
 @media(max-width:1024px){
  .container{
    height:43%;
    width:50%;
    border:2px black solid;
    padding:30px;
    display:grid;
    grid-template-rows:15% 15% 15% 15% 15% 15%;
    grid-template-columns:24% 24% 24% 24%;
    margin-left:20%;
    margin-top:20px;
    grid-gap:10px;
  }   
  button{
      font-size:40px;
      font-weight:900;
  }
 }
    


